/*css document */
header{
    height: 60px;
    background-color: transparent;
    border: 2px solid rgba(192, 192, 192, 0.11);
    border-radius: 11px;
    box-shadow: 0 0 0 1.5px #3B3B3B;    
}

body{
    margin: 0px;
    background-image: url(https://st.depositphotos.com/2013817/3533/v/450/depositphotos_35337353-stock-illustration-seamless-background-with-rain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

nav{
    height: 200px;
    background-color: rgba(211, 211, 211, 0);
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto 0 auto
}

#navigation input[type="button"]{
    width: 110px;
    height: 30px;
    color: darkgray;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    
}


main{
    width: 100%;
    height: 500px;
}

#logo-image-back{
    display: inline-block;
    width: 60px;
    margin-left: 15px;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

#logo-image-front{  
    display: inline-block;
    width: 60px;
    margin-left: 15px;  
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

#flip3d:hover>#logo-image-front{
    transform: perspective(600px) rotateY(-180deg);
}

#flip3d:hover>#logo-image-back{
    transform: perspective(600px) rotateY(0deg);
}

#name-header{
    display:inline-block;
    margin-left: 90px;
    vertical-align: top;
    font-style: italic;
    font-family: 'Courier New','Times New Roman';
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.4);
}

#backround-home-image{
    filter: contrast(60%);
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin: auto;
}

#image-container{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    direction: rtl;
}

#home-text{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50px; 
    font-family: 'Roboto', sans-serif;
    color: white;
}

#page-container{
    position: relative;
}

