/*css document */
header{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #CC6633;
    border-bottom: 5px solid rgba(148, 39, 15, 0.82)
}

header:hover {
    background-image:linear-gradient(
      to right,
      #FF9900 2%,
      #CC6633 85%);
}

body{
    margin: 0px;
}



#navigation {
    margin: auto auto auto 10%;
}


.row {
    padding: 5px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

main{
    width: 100%;
    height: 500px;
}

#logo-image-back{
    top: 5px;
    display: inline-block;
    width: 60px;
    margin-left: 15px;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

#logo-image-front{  
    top: 5px;
    display: inline-block;
    width: 60px;
    margin-left: 15px;  
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

#flip3d:hover>#logo-image-front{
    transform: perspective(600px) rotateY(-180deg);
}

#flip3d:hover>#logo-image-back{
    transform: perspective(600px) rotateY(0deg);
}

#name-header{
    margin: 0;
    margin-left: 90px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    padding-top: 17px;
    padding-bottom: 17px;
    
}

#backround-home-image{
    filter: contrast(60%);
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin: auto;
}

#image-container{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    direction: rtl;
}

#home-text{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50px; 
    font-family: 'Roboto', sans-serif;
    color: white;
}

#page-container{
    position: relative;
}

.nav-button-click{
    width: 200px;
    display: flex;
    height: 60px;
}

.nav-button-click h4{
    font-size: 22px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 22px;
}

.nav-button-click:hover{
    cursor: pointer;
    background-color: #CCCCCC;
}

#navigationbuttons {
    padding-left: 40px;
    padding-top: 20px;
    /* 20171006 */
}

#showAdditionalCities,#hideAdditionalCities {
  border:solid #CC6633;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 3px;
  
}

#showAdditionalCities:hover, #hideAdditionalCities:hover{
    cursor: pointer;
}

#showAdditionalCities{
     transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width:15px;
    height:15px;
    position: absolute;
}

#hideAdditionalCities{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    width:15px;
    height:15px;
    display: none;
    position: absolute;
}  

.nav-subrow{
    width: 50%;
    padding: 5px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-button-click {
    border-bottom: 2px solid #CC6633;
}

nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #999999;
}
#home-info{
    width: 100%;
    height: 400px;
}
footer{
    width: 100%;
    position: relative ;
    background-color: #999999;
    display: flex;
    justify-content: space-around;
}

ul{
    list-style: none;
}

footer ul li {
    color: rgba(148, 39, 15, 0.82);
    font-weight: bold;
    margin: 5px;
}


#contact-info,#relative-websites{
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-right: 2px solid #CC6633;
}
